body {
  background-color: rgb(156, 192, 190);
}

.cat-button {
  color: rgb(32, 58, 74);
  border-radius: 50px;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: large;
}

header {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-weight: bold;
  color: aliceblue;
  font-size: xx-large;
}

p {
  font-family:'Courier New', Courier, monospace;
}

.questions-list {
  font-weight: bold;
}

.category-button {
  width: auto;
  height: auto;
  margin: 10px;
}

.answer-button {
  color: rgb(32, 58, 74);
  border-radius: 50px;
  font-size: large;
}

.question-text {
  color: rgb(32, 58, 74);
  border-radius: 50px;
  font-size: x-large;
}